main {
    min-width: 250px;
    padding-right: 4em;
    width: 80%;
  }

  .container{
    text-align: center;
    align-items: center;
    margin: 10%;
    margin-top: 10px;
}

  .modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-body {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      position: under;
      justify-content: center;
  }

  body {
    background-color: rgb(114, 114, 114);
    position: center;
    min-height: 100vh;
    font-weight: 400;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; /*disables selection aka highlighting*/
    -webkit-user-select: none; /*for safari*/
    -moz-user-select: none; /*for firefox*/
}

.headercenter {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  pointer-events: none;
}

.headerleft {
  text-align: left;
}

.headerright {
  text-align: right;
}

.header{
    color: rgb(0, 0, 0);
    padding: 15px;
    justify-content: center;
    text-align: center;
    position: above;
    align-items: above;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}