main {
    padding-right: 4em;
  }

.container{
    text-align: center;
    align-items: center;
}

span.small {
  font-size: smaller;
}

  
body {
    background-color: rgb(114, 114, 114);
    position: center;
    min-height: 100vh;
    font-weight: 400;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; /*disables selection aka highlighting*/
    -webkit-user-select: none; /*for safari*/
    -moz-user-select: none; /*for firefox*/
}

.headercenter {
  justify-content: top;
  pointer-events: none;
}

.headerleft {
  text-align: right;
}

.headerright {
  text-align: left;
}

.header{
    color: rgb(0, 0, 0);
    padding: 15px;
    justify-content: center;
    text-align: center;
    position: above;
    align-items: above;
    display: flex;
}

#dateListContainer {
  display: flex;
  justify-content: center;
}


#ac-results {
  position: center;
  background-color: rgba(255, 255, 255, 0.6);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  width: 75%;
  border-radius: 5px;
}
.autocomplete-item { 
  cursor: pointer;
  opacity: 1;
}
.autocomplete-item:hover {
  background-color: #f1f1f1;
}

#guessDate {
  pointer-events: auto; /* Ensure the element can receive events */
  opacity: 1; /* Ensure the element is visible */
}

