/*Import font from google*/
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Titillium+Web&display=swap');

*{
    margin:auto;
    padding: 0;
    font-family: "Parkinsans", sans-serif;;
    box-sizing: border-box;
}

body {
    background-color: dimgray;
    position: bottom;
    min-height: 100vh;
    font-weight: 400;
    margin:auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; /*disables selection aka highlighting*/
    -webkit-user-select: none; /*for safari*/
    -moz-user-select: none; /*for firefox*/
}

.header{
    background-color: rgb(31, 41, 49);
    color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    align-items: above;
    box-shadow: 0px 9px 10px rgb(31, 41, 49);
    margin-top: 10px;
    margin-bottom: 10px;
    position: above;
    max-width: 80%;
}

.container{
    text-align: center;
    align-items: center;
    margin: 10%;
    margin-top: 10px;
}

.game-container{
    position: bottom;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 9px 10px rgb(31, 41, 49);
    max-width: 80%;
    width: 80%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-weight: 300;
  }

/*Style for VOD image*/
#vod{
    margin: auto;
    text-align: center;
    max-width: 75%;
    max-height: auto;
    border-radius: 5px;
    margin: auto;  
}

/*style for the hint*/
#hint{
    font-size: 16px;
    margin: 10px;
}

#score{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 10%;
    color: black;
    background: #8347a7;
    border-radius: 5px;
    padding: 2px 0;
}

/*style for game option buttons*/
.option{
    background-color: black;
    color: #ccc;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/*hover effect for option buttons*/
.option.hover{
    transform: scale(0.9);
    background-color: aquamarine;
}

/*input CSS here*/
input#date {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

#watch-here{
    cursor: pointer;
    width: 40px;
    border: none;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    transition: transform 0.2s ease;
}

/*hover effect for watch-here button*/
#watch-here{
    transform: scale(1.2);
    background-color: aquamarine;
}

/*style for the correct message*/
.message.correct{
    color: rgb(75, 219, 99);
    font-weight: 800;
}

/*style for telling the correct answer when answer was wrong*/
.message.wrong{
    color: rgb(206, 53, 53);
    font-weight: 800;
}